* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgba(248, 245, 237, 1);
  padding-left: 198px;
  padding-right: 122px;
}

.header_section {
  width: 100%;
  height: auto;
}
.navigation_section {
  display: flex;
  justify-content: space-between;
}

.navigation_section--logo {
  height: 72px;
  width: 242px;
  font-size: 29px;
  line-height: 100%;
  letter-spacing: -3%;
  color: #21221e;
  margin-top: 57.5px;
}

.navigation_section--list {
  display: flex;
  list-style: none;
  width: 980px;
  height: 41px;
  margin-top: 52.5px;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.navigation_section--list li {
  color: rgba(51, 34, 0, 1);
  font-size: 17px;
  letter-spacing: -5%;
  opacity: 80%;
}
.navigation_section--list li a {
  text-decoration: none;
}
.navigation_section_svg--container {
  margin-top: 49.5px;
  display: flex;
  gap: 10px;
}
.lockicon_container {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #849461;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.lockicon {
  width: 27px;
  height: 27px;
}
.searchicon {
  width: 27px;
  height: 27px;
  margin-top: 5px;
}
/* hero section */
.hero-section {
  width: 100%;
  height: auto;
  margin-top: 62px;
  margin-bottom: 120px;
}
.hero-section_heading {
  height: 300px;
  width: 100%;
  font-size: 67px;
  font-weight: 400;
  line-height: 150px;
  color: rgba(34, 39, 0, 1);
  text-align: center;
}
.hero-section_heading-img {
  position: absolute;
  width: 177px;
  height: 58px;
  border-radius: 67px;
  top: 385px;
  left: 309px;
  object-fit: cover;
}
.hero-section-text {
  margin-top: 70px;
  width: 90%;
  height: 37px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: rgba(51, 34, 0, 1);
  opacity: 80%;
  margin-bottom: 47px;
  margin-left: 57px;
}
.hero-section-main--img {
  width: 100%;
  height: 629px;
  object-fit: contain;
  margin-bottom: 55px;
}
.hero-section_more-details--container {
  width: 85%;
  height: 279px;
  display: flex;
}
.hero-section_more-details--subcontainer {
  display: flex;
  width: 284px;
  height: 74px;
  background-color: rgba(233, 229, 220, 1);
  border-radius: 56.5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 42px;
}
.hero-section_more-details--heading {
  width: 371px;
  height: 55px;
  font-size: 17px;
  font-weight: 400;
  line-height: 55.2px;
  margin-left: 15px;
  margin-top: 27px;
  margin-bottom: 33px;
}
.hero-section_more-details--img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 17px;
  margin-left: 35px;
}
.hero-section_more-details-main--text {
  width: 312px;
  height: 74px;
  opacity: 80%;
  font-size: 16px;
  line-height: 36.8px;
  font-weight: 400;
  color: rgba(51, 34, 0, 1);
}
/* main section */
.main-section {
  width: 100%;
  height: auto;
}
.main-section-recommendation-wrapper {
  width: 100%;
  height: auto;
  color: rgba(127, 123, 84, 0.3);
  margin-bottom: 150px;
}
.main-section-recommendation-mainheading {
  width: 70%;
  height: 172px;
  font-size: 46px;
  font-weight: 400;
  color: rgba(34, 39, 0, 1);
  margin-top: -74px;
}
.main-section-recommendation-more-services {
  display: flex;
}
.main-section-recommendation-more-services-options {
  width: 420px;
  margin-left: -8px;
  margin-right: 15px;
}
.main-section-recommendation-more-services-option1 {
  height: 151px;
  width: 351px;
  border: 5px solid rgba(127, 123, 84, 0.3);
  margin-bottom: 80px;
}
.main-section-recommendation-more-services-option1-heading {
  height: 55px;
  width: 317px;
  font-size: 19px;
  font-weight: 400px;
  line-height: 55.2px;
  color: #222700;
  margin-top: 20px;
  margin-left: 24px;
}
.main-section-recommendation-more-services-option1-content {
  height: 74px;
  width: 418px;
  font-size: 16px;
  color: rgba(51, 34, 0, 1);
  opacity: 80%;
  line-height: 100%;
  padding-left: 28px;
  padding-right: 45px;
}
.main-section-recommendation-more-services-option-list {
  list-style: none;
  height: 663px;
  width: 420px;
  color: #332200;
  opacity: 80%;
  margin-bottom: -330px;
}
.main-section-recommendation-more-services-option-list li {
  margin-bottom: 41px;
  font-size: 19px;
}
.main-section-recommendation-more-services-option-subwrapper {
  display: flex;
  justify-content: space-around;
}

.main-section-recommendation-more-services-option-subwrapper p {
  font-size: 16px;
  color: rgba(51, 34, 0, 1);
  font-weight: 400;
}
.main-section-recommendation-more-services-option-subwrapper p:hover {
  cursor: pointer;
  background: rgba(127, 123, 84, 1);
  color: rgba(255, 255, 255, 1);
  height: 41px;
  width: 161px;
  font-size: 16px;
  font-weight: 400;
  margin-right: 15px;
}
.main-section-recommendation-more-services_main--img {
  height: 604px;
  width: 569px;
  object-fit: cover;
}
/* second main */
.main-section-product-container {
  width: 100%;
  height: auto;
}
.main-section-product--heading {
  width: 68%;
  height: 243px;
  font-size: 46px;
  font-weight: 400;
  color: rgba(34, 39, 0, 1);
  margin-bottom: -42px;
}
.main-section-product--list {
  height: 95px;
  width: 95%;
  display: flex;
  gap: 50px;
  list-style: none;
  margin-bottom: 0px;
}
.main-section-product--list li {
  font-size: 17px;
}
.furniture {
  height: 28px;
  width: 121px;
  background-color: #7f7b54;
  border-radius: 56.5px;
  text-align: center;
  padding-top: 5px;
  color: white;
}
.dining,
.home,
.bedroom,
.gaming,
.office {
  height: 28px;
  background-color: #e9e5dc;
  text-align: center;
  border-radius: 56.5px;
  padding: 5px 7px;
}
.main-section-product--differentfurniture-option {
  width: 100%;
  height: 441px;
  display: flex;
  gap: 34px;
}
.main-section-product--differentfurniture-img {
  height: 265px;
  width: 285px;
  border: 5px solid rgba(127, 123, 84, 0.3);
  margin-bottom: 54px;
  object-fit: contain;
}
.main-section-product--name-cash-button-container {
  display: flex;
  justify-content: space-between;
}
.main-section-product--name-text {
  height: 55px;
  width: 262px;
  font-size: 17px;
  color: rgba(34, 39, 0, 1);
}
.main-section-product--cash-text {
  height: 55px;
  width: 81px;
  font-size: 17px;
  color: rgba(127, 123, 84, 1);
}
.main-section-product--button {
  width: 30px;
  height: 30px;
}
/*  */
.main-section-craft--container {
  width: 100%;
  height: auto;
}
.main-section-craft--heading {
  width: 70%;
  height: 233px;
  font-size: 46px;
  font-weight: 400;
  line-height: 96px;
  margin-top: 33px;
}
.main-section-craft--img1-wrapper {
  display: flex;
}
.main-section-craft--img1-i {
  height: 303px;
  width: 447px;
  object-fit: contain;
  margin-right: 101px;
  margin-bottom: 100px;
}
.main-section-craft--img1-ii {
  height: 399px;
  width: 394px;
  object-fit: cover;
  margin-bottom: 100px;
}
.main-section-craft--img2-wrapper {
  display: flex;
  margin-bottom: 50px;
}
.main-section-craft--img2i {
  height: 399px;
  width: 447px;
  object-fit: cover;
  margin-right: 101px;
  margin-top: -129px;
}
.main-section-craft--img2ii {
  height: 263px;
  width: 394px;
  object-fit: contain;
  margin-top: -43px;
}
/* other main */
.main-section--exclusiveoffers-container {
  width: 100%;
  height: 937px;
  text-align: center;
  background-image: url(/css/img/map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-section--exclusiveoffers-heading {
  height: 300px;
  width: 100%;
  font-size: 47px;
  font-weight: 400;
  line-height: 100px;
  text-transform: uppercase;
}
.main-section--exclusiveoffers-text {
  height: 37px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: rgba(51, 34, 0, 1);
  opacity: 80%;
  line-height: 36.8px;
  margin-top: -61px;
  margin-bottom: 111px;
}
label {
  position: relative;
}
input {
  height: 61px;
  width: 452px;
  border-radius: 64.5px;
  border: 5px solid rgba(127, 123, 84, 0.3);
}
.main-section--exclusiveoffers-button {
  position: absolute;
  height: 44px;
  width: 97px;
  background-color: rgba(127, 123, 84, 1);
  border: none;
  border-radius: 50px;
  color: white;
  left: 344px;
  top: -17px;
}
/* footer */
footer-section {
  margin-top: 35px;
  width: 90%;
  height: 635px;
}
.footer-section--component-1 {
  display: flex;
  margin-top: -134px;
}
.footer-section--component-1-i {
  margin-right: 30px;
}
.footer-section--component-1-i-heading {
  height: 55px;
  width: 175px;
  font-size: 19px;
  font-weight: 400;
  color: rgba(34, 39, 0, 1);
  letter-spacing: -3%;
}
.footer-section--component-1-i-text {
  height: 120px;
  width: 414px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(51, 34, 0, 1);
  opacity: 80%;
  letter-spacing: -3%;
  line-height: 39px;
}
.footer-section--component-1-i-1,
.footer-section--component-1-i-2,
.footer-section--component-1-i-3 {
  height: 223px;
  width: 157px;
  list-style: none;
}
.footer-section--component-1-i-1 li,
.footer-section--component-1-i-2 li,
.footer-section--component-1-i-3 li {
  margin-bottom: 45px;
  font-size: 16px;
}
.footer-section--component-2 {
  height: 96px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.footer-section--component-2-imgi {
  height: 40px;
  width: 235px;
  object-fit: contain;
}
.footer-section--component-2-imgii {
  height: 53px;
  width: 235px;
  object-fit: contain;
}
.footer-section--component-3 {
  display: flex;
  justify-content: space-between;
}
.footer-section--component-3-text {
  height: 31px;
  width: 499px;
  font-size: 13px;
  font-weight: 400;
  color: rgba(34, 39, 0, 1);
  opacity: 80%;
}
.footer-section--component-3-list {
  list-style: none;
  display: flex;
}
.footer-section--component-3-list li {
  font-size: 13px;
  color: rgba(34, 39, 0, 1);
  opacity: 80%;
  margin-right: 10px;
}
/* media quries */
@media screen and (max-width: 768px) {
  body {
    padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  }
  .header_section {
    
    padding: 10px;
  }
  .navigation_section {
  
    
    
  }
  .navigation_section--list, .navigation_section--logo, .navigation_section_svg--container {
    margin: 0;
  }
  .navigation_section--list {
    /* width: 60%; */
  }
  
.hero-section {
  margin: 0px;
}
.hero-section_heading  {
  font-size: 6rem;
  line-height: 116px;
  height: 250px;
}
.hero-section_heading-img {
  position: absolute;
  top: 193px;
  left: 296px;
}
.hero-section-text {
  margin: 0;
  width: 100%;
  font-size: 2rem;
}
.hero-section-main--img  {
  margin-bottom: 61px;
}
.hero-section_more-details--container {
  flex-direction: column;
  width: 100%;
  height: 269px;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
  margin-top: 59px;
}
.hero-section_more-details {
 margin-bottom: 42px;

}
.hero-section_more-details-main--text {
  font-size: 2rem;
}
.main-section-recommendation-mainheading  {
  margin-top: 207px;
}
.main-section-recommendation-mainheading {
  font-size: 4rem;
  width: 100%;
  text-align: center;
  height: 105px;height: 105px;
}
.main-section-recommendation-more-services {
  flex-direction: column;
}
.main-section-recommendation-more-services-options {
  margin: 0px;
  width: 100%;
  margin-bottom: 35px;
}
.main-section-recommendation-more-services-option1 {
  width: 64%;
  margin-bottom: 35px;
}
.main-section-recommendation-more-services-option1-content {
  font-size: 2rem;
  width: 100%;
}
.main-section-recommendation-more-services-option-subwrapper {
  justify-content: space-between;
  width: 53%;
}
.main-section-recommendation-more-services-option-subwrapper p:hover {
  cursor: pointer;
  background: rgba(127, 123, 84, 1);
  color: rgba(255, 255, 255, 1);
  height: 41px;
  width: 161px;
  font-size: 16px;
  font-weight: 400;
}

}