* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgba(248, 245, 237, 1);
  padding-left: 181px;
  padding-right: 139px;
}

.header_section {
  width: 100%;
  height: auto;
}
.navigation_section {
  display: flex;
  justify-content: space-between;
}

.navigation_section--logo {
  height: 72px;
  width: 242px;
  font-size: 29px;
  line-height: 100%;
  letter-spacing: -3%;
  color: #21221e;
  margin-top: 57.5px;
}

.navigation_section--list {
  display: flex;
  list-style: none;
  width: 980px;
  height: 41px;
  margin-top: 69.5px;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.navigation_section--list li {
  color: rgba(51, 34, 0, 1);
  font-size: 17px;
  letter-spacing: -5%;
  opacity: 80%;
}
.navigation_section--list li a {
  text-decoration: none;
}
.navigation_section_svg--container {
  margin-top: 49.5px;
  display: flex;
  gap: 10px;
}
.lockicon_container {
  height: 40px;
  border-radius: 50%;
  background-color: #849461;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchicon,
.lockicon {
  width: 40px;
  height: 40px;
}
/* hero section */
.hero-section {
  width: 100%;
  height: auto;
  margin-top: 62px;
  margin-bottom: 200px;
}
.hero-section_heading {
  height: 300px;
  width: 100%;
  font-size: 67px;
  font-weight: 400;
  line-height: 150px;
  color: rgba(34, 39, 0, 1);
  text-align: center;
}
.hero-section_heading-img {
  position: absolute;
  width: 271px;
  height: 84px;
  border-radius: 67px;
  top: 370px;
  left: 226px;
  object-fit: cover;
}
.hero-section-text {
  margin-top: 70px;
  width: 90%;
  height: 37px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: rgba(51, 34, 0, 1);
  opacity: 80%;
  margin-bottom: 111px;
}
.hero-section-main--img {
  width: 100%;
  height: 629px;
  object-fit: contain;
  margin-bottom: 150px;
}
.hero-section_more-details--container {
  width: 85%;
  height: 279px;
  display: flex;
}
.hero-section_more-details--subcontainer {
  display: flex;
  width: 284px;
  height: 74px;
  background-color: rgba(233, 229, 220, 1);
  border-radius: 56.5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 42px;
}
.hero-section_more-details--heading {
  width: 371px;
  height: 55px;
  font-size: 17px;
  font-weight: 400;
  line-height: 55.2px;
  margin-left: 15px;
  margin-top: 27px;
  margin-bottom: 33px;
}
.hero-section_more-details--img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 17px;
  margin-left: 35px;
}
.hero-section_more-details-main--text {
  width: 312px;
  height: 74px;
  opacity: 80%;
  font-size: 16px;
  line-height: 36.8px;
  font-weight: 400;
  color: rgba(51, 34, 0, 1);
}
.main-section {
  width: 100%;
  height: auto;
}
.main-section-recommendation-wrapper {
  width: 100%;
  height: 1732px;
  color: rgba(127, 123, 84, 0.3);
}
.main-section-recommendation-mainheading {
  width: 70%;
  height: 300px;
  font-size: 46px;
  font-weight: 400;
  color: rgba(34, 39, 0, 1);
}
.main-section-recommendation-more-services {
  display: flex;
}
.main-section-recommendation-more-services-option1 {
  height: 155px;
  width: 402px;
  border: 5px solid rgba(127, 123, 84, 0.3);
  margin-bottom: 80px;
}
.main-section-recommendation-more-services-option1-heading {
  height: 55px;
  width: 321px;
  font-size: 19px;
  font-weight: 400px;
  line-height: 55.2px;
  color: #222700;
  margin-top: 20px;
  margin-left: 60px;
}
.main-section-recommendation-more-services-option1-content {
  height: 74px;
  width: 421px;
  font-size: 16px;
  color: rgba(51, 34, 0, 1);
  opacity: 80%;
  line-height: 100%;
  padding-left: 60px;
  padding-right: 45px;
}
.main-section-recommendation-more-services-option-list {
  list-style: none;
  height: 663px;
  width: 604px;
  color: #332200;
  opacity: 80%;
}
.main-section-recommendation-more-services-option-list li {
  margin-bottom: 58px;
  font-size: 19px;
}
